:root {
    --olive-drab-3: hsla(82, 58%, 35%, 1);
    --chinese-red: hsla(12, 87%, 37%, 1);
    --yellow-orange-color-wheel: hsla(36, 100%, 49%, 1);
    --taupe-gray: hsla(253, 4%, 56%, 1);
    --charcoal: hsla(204, 30%, 25%, 1);
    --pastel-pink: #d4a0a7ff;
    --platinum: #e3e3e3ff;
    --platinumite: rgb(249, 249, 249);
    --titlefont: 'Clash Grotesk', sans-serif;
    --satoshi: 'Satoshi', sans-serif;
}

body {
    margin: 0 0 0 0;
    background-color: var(--charcoal);
}

.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    column-gap: 30px;
}

.ingredients {
    order: 1;
    margin-top: 30px;
    display: grid;
    align-items: center;
    justify-content: center;
}

.ingredient {
    background-color: var(--chinese-red);
    font-size: 1.7vw;
    color: var(--platinum);
    display: grid;
    padding: 10px;
    margin: 5px;
    width: 20vw;
    font-family: var(--satoshi);
    border: none;
    border-radius: 5px;
    border-color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 8px 24px;
}

.ingredient:active {
    background: rgb(108, 67, 17);
}

.recipecontainer {
    order: 2;
    color: black;
    font-size: 1.35vw;
    font-family:var(--satoshi);
    width: 400px;
    background-color: var(--platinum);
    padding: 25px;
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 8px 24px;
}

.nav {
    height: 80px;
    background-color: var(--platinum);
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 8px 24px;
}

.logo {
    width:100%;
    padding-top: 15px;
    font-size: 3vw;
    text-align: center;
    /* Fallback: Set a background color. */
    background-color: var(--chinese-red);
    font-family: var(--titlefont);
    font-weight: 600;

    /* Create the gradient. */
    background-image: linear-gradient(45deg, red, rgb(174, 103, 16));
    
    /* Set the background size and repeat properties. */
    background-size: 100%;
    background-repeat: repeat;
    
    /* Use the text as a mask for the background. */
    /* This will show the gradient as a text color rather than element bg. */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}
