.recipecontainer {
    color: black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 400px;
    background-color: white;
    padding: 20px;
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: 1px 3px #2e2e2e;
}

.ingredients {
    margin-top: 30px;
    display: grid;
    align-items: center;
    justify-content: center;
}

.container {
    display: grid;
    align-items: center;
    justify-content: center;
}

.quantity {

}

.ingredient {
    background-color: rgb(177, 73, 35);
    font-size: 1.7vw;
    color: white;
    display: grid;
    padding: 10px;
    margin: 5px;
    width: 20vw;
    border: none;
    border-radius: 5px;
    border-color: white;
    box-shadow: 1px 3px #2e2e2e;
}

.ingredient:active {
    background: rgb(108, 67, 17);
}

body {
    margin: 0 0 0 0;
    background-color: rgb(193, 193, 193);
}